<section class="sectioncontct" id="contactSection">
    <div class="container">
        <div class="contactInfo">
            <div>
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><ion-icon name="location-outline"></ion-icon></span>
                        <span>Kyiv, Ukraine</span>
                    </li>
                    <li>
                        <span><ion-icon name="mail-outline"></ion-icon></span>
                        <span><a href="info.tourly.com">info.tourly.com</a></span>
                    </li>
                    <li>
                        <span><ion-icon name="call-outline"></ion-icon></span>
                        <span>+380 98 4567 941</span>
                    </li>

                </ul>
            </div>
            <ul class="sci">
                <li><a><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a><ion-icon name="logo-pinterest"></ion-icon></a></li>
                <li><a><ion-icon name="logo-linkedin"></ion-icon></a></li>
            </ul>
        </div>
        <div class="contactForm">
            <h2>Send a Message</h2>
            <div class="formBox">
                <div class="inputBox w50">
                    <input type="text" name="" required>
                    <span>First Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" required>
                    <span>Last Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="email" required>
                    <span>Email Address</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" required>
                    <span>Mobile Number</span>
                </div>
                <div class="inputBox w100">
                    <textarea required></textarea>
                    <span>Write your message here...</span>
                </div>
                <div class="inputBox w100">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>    
</section>