<section class="gallery" id="gallerySection">
    <div class="container">
        <p class="section-subtitle">Фотогалерея</p>
        <h2 class="h2 section-title">Фотографії від мандрівників</h2>
        <ul class="gallery-list">
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/gallery-1.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/gallery-2.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/gallery-3.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/Gallery/gal4.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/gallery-5.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/Gallery/gal1.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/Gallery/gal2.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/Gallery/gal3.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/Gallery/gal8.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/Gallery/gal6.jpg" alt="Gallery image">
                </figure>
            </li>
            <li class="gallery-item">
                <figure class="gallery-image">
                    <img src="../assets/Gallery/gal7.jpg" alt="Gallery image">
                </figure>
            </li>
        </ul>
    </div>
</section>